<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%thread] [%logger{1}] - %msg %rootException{20}%n</pattern>
        </encoder>
    </appender>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_DESTINATION:-localhost:6000}</destination>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>
                        {
                        "time": "%date{ISO8601}",
                        "level": "%level",
                        "thread_name": "%thread",
                        "logger": "%logger{1}",
                        "message": "%msg",
                        "exception": "%rootException{20}",
                        "service_name": "${SERVICE_NAME:-}",
                        "service_version": "${SERVICE_VERSION:-}",
                        "service_env": "${SERVICE_ENV:-}",
                        "service_framework": "${SERVICE_FRAMEWORK:-}",
                        "host": "${HOSTNAME}",
                        "aws_region": "${AWS_REGION:-}",
                        "trace_id": "%mdc{trace_id}",
                        "span_id": "%mdc{span_id}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logstash"/>
    </root>

</configuration>